.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}
.absolute.top {
  top: 0;
}
.absolute.bottom {
  bottom: 0;
}
.absolute.left {
  left: 0;
}
.absolute.right {
  right: 0;
}

.flex {
  display: flex;
}
.flex.align_center {
  align-items: center;
}
.flex.align_start {
  align-items: flex-start;
}
.flex.align_end {
  align-items: flex-end;
}
.flex.justify_start {
  justify-content: flex-start;
}
.flex.justify_center {
  justify-content: center;
}
.flex.justify_end {
  justify-content: flex-end;
}
.flex.space_between {
  justify-content: space-between;
}
.flex.space_evenly {
  justify-content: space-evenly;
}

.flex_column {
  display: flex;
  flex-direction: column;
}
.flex_column.align_center {
  align-items: center;
}
.flex_column.align_start {
  align-items: flex-start;
}
.flex_column.align_end {
  align-items: flex-end;
}
.flex_column.justify_start {
  justify-content: flex-start;
}
.flex_column.justify_center {
  justify-content: center;
}
.flex_column.justify_end {
  justify-content: flex-end;
}
.flex_column.space_between {
  justify-content: space-between;
}
.flex_column.space_evenly {
  justify-content: space-evenly;
}

.overflow {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
}

.line {
  display: block;
}
.line.vertical {
  width: 1px;
}
.line.vertical.strong {
  width: 2px;
}
.line.horizontal {
  height: 1px;
}
.line.horizontal.strong {
  height: 2px;
}

* {
  position: relative;
  box-sizing: border-box;
  font-weight: 400;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  overflow: hidden auto;
}
@media (max-width: 1500px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  body.fixed_body {
    position: fixed;
    overflow: hidden;
  }
}

p strong {
  font-weight: bold;
}
p blockquote {
  font-style: italic;
}

span {
  display: block;
}

ul {
  width: 100%;
  list-style: disc outside;
  padding: 0 0 0 1.2em;
}
ul li {
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.5em;
}
ul li strong {
  font-weight: bold;
}

ol {
  width: 100%;
  padding: 0 0 0 1.2em;
}
ol li {
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.5em;
}
ol li strong {
  font-weight: bold;
}

input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

section.subpage {
  min-height: 50vh;
}

.fancybox-navigation .fancybox-button {
  top: calc(50vh - 50px) !important;
}

.richText * {
  margin-bottom: 1em;
}
.richText *:last-child {
  margin-bottom: 0;
}
.richText figure {
  width: 100%;
  max-width: 1000px;
}
.richText figure img {
  width: 100%;
}

#email2 {
  display: none;
}

p strong {
  font-weight: bold;
}
p blockquote {
  font-style: italic;
}
p a {
  color: inherit !important;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.6em;
  text-decoration: none !important;
}
p a:hover {
  text-decoration: underline !important;
}

span {
  display: block;
}

ul {
  width: 100%;
  list-style: disc outside;
  padding: 0 0 0 1.2em;
}
ul li {
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.5em;
}
ul li strong {
  font-weight: bold;
}

ol {
  width: 100%;
  padding: 0 0 0 1.2em;
}
ol li {
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.5em;
}
ol li strong {
  font-weight: bold;
}

input, textarea, select {
  background-color: transparent;
  border-radius: 0;
}

.richText * {
  margin-bottom: 1em;
}
.richText *:last-child {
  margin-bottom: 0;
}
.richText figure {
  width: 100%;
  max-width: 1000px;
}
.richText figure img {
  width: 100%;
}

:root {
  --main-color: #000000;
  --main-color-light: #ffffff;
  --main-color-dark: #000000;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --background-color-light: #ffffff;
  --background-color-dark: #000000;
}

.menu {
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  background-color: #fff;
  transition: all 0.5s ease;
  padding: 10px;
  z-index: 200;
}
.menu.open {
  transform: translateX(0%);
}
.menu .nav .nav_item {
  margin: 1em 0;
}
.menu .nav .nav_item:last-child {
  margin-bottom: 0;
}
.cookie {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100% - 20px);
  max-width: 850px;
  max-height: 80vh;
  background-color: var(--main-color-dark);
  padding: 1.25em;
  transform: scale(0) translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 500;
  opacity: 0;
  transition: all 0.3s ease;
}
.cookie.visible {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  transition: all 0.3s ease 5s;
}
.cookie .cookie_title {
  color: var(--main-color);
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2em;
}
.cookie .cookie_text {
  width: 100%;
  color: var(--main-color-light);
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2em;
  margin-top: 1.25em;
}
.cookie .cookie_text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
}
.cookie .cookie_container {
  width: 100%;
  display: none;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cookie .cookie_container::-webkit-scrollbar {
  display: none;
}
.cookie .cookie_container .cookie_wrapper {
  width: 100%;
  margin-top: 1.25em;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_item {
  width: 100%;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_line {
  width: 100%;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 1.25em;
  margin-top: 2.5em;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_line:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_line .column {
  width: calc(100% - 5em);
  margin-right: auto;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_line .column .cookie_subtitle {
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2em;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_line .column .cookie_text {
  margin-top: 0.625em;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_line .cookie_checkbox {
  width: 2.5em;
  height: 1.25em;
  border-radius: 0.625em;
  background-color: #e5e3df;
  transition: all 0.3s ease;
  cursor: pointer;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_line .cookie_checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25em;
  height: 1.25em;
  background-color: #F7F0F3;
  border: 1px solid #e5e3df;
  border-radius: 0.625em;
  transition: all 0.3s ease;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_line .cookie_checkbox.active {
  background-color: var(--main-color);
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_line .cookie_checkbox.active span {
  left: 1.25em;
  border: 1px solid var(--main-color);
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_sub {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5em;
  margin-top: 1.25em;
}
@media (max-width: 600px) {
  .cookie .cookie_container .cookie_wrapper .cookie_wrapper_sub {
    grid-gap: 2.5em 1.25em;
  }
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_sub .cookie_wrapper_sub_item {
  width: 100%;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_sub .cookie_wrapper_sub_item .cookie_checkbox {
  width: 2.5em;
  height: 1.25em;
  border-radius: 0.625em;
  background-color: #e5e3df;
  transition: all 0.3s ease;
  cursor: pointer;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_sub .cookie_wrapper_sub_item .cookie_checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25em;
  height: 1.25em;
  background-color: #F7F0F3;
  border: 1px solid #e5e3df;
  border-radius: 0.625em;
  transition: all 0.3s ease;
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_sub .cookie_wrapper_sub_item .cookie_checkbox.active {
  background-color: var(--main-color);
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_sub .cookie_wrapper_sub_item .cookie_checkbox.active span {
  left: 1.25em;
  border: 1px solid var(--main-color);
}
.cookie .cookie_container .cookie_wrapper .cookie_wrapper_sub .cookie_wrapper_sub_item .cookie_text {
  color: var(--main-color-light);
  text-align: center;
  margin-top: 0.625em;
}
.cookie .cookie_bottom {
  width: 100%;
  gap: 2em;
  flex-wrap: wrap;
  margin-top: 1.25em;
}
.cookie .cookie_bottom .btn {
  width: fit-content;
  height: fit-content;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  min-width: 125px;
  min-height: 40px;
}
.cookie .cookie_bottom .btn span {
  text-align: center;
  z-index: 5;
}
@media (max-width: 500px) {
  .cookie .cookie_bottom .btn {
    width: 100%;
  }
}
.cookie .cookie_bottom .btn.square {
  min-width: 200px;
  padding: 0.8em 2em;
}
.cookie .cookie_bottom .btn.square span {
  font-size: 1em;
}
.cookie .cookie_bottom .btn.white::before {
  background-color: var(--main-color);
}
.cookie .cookie_bottom .btn.white::after {
  background-color: var(--main-color);
}
.cookie .cookie_bottom .btn.white:hover span {
  color: var(--main-color-light);
}
.cookie .cookie_bottom .cookie_less {
  display: none;
}
.cookie .cookie_bottom .cookie_save {
  display: none;
}
.cookie .cookie_bottom .cookie_accept {
  min-width: 15em;
  padding: 1em;
}
.cookie .cookie_bottom .cookie_accept span {
  font-size: 1em;
}
.cookie .cookie_bottom .cookie_accept::after {
  font-size: 1em;
}
@media (max-width: 500px) {
  .cookie .cookie_bottom .cookie_accept {
    margin-left: auto;
  }
}

.cookie_badge {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--main-color);
  color: var(--main-color-dark);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.2em;
  padding: 5px 10px;
  z-index: 500;
  display: none;
  cursor: pointer;
}
.cookie_badge.visible {
  display: flex;
}

.gdpr #gdpr_input {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.gdpr .custom_checkbox {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gdpr .custom_checkbox::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: all 0.3s ease;
}
.gdpr #gdpr_input:checked ~ .custom_checkbox::after {
  transform: scale(1);
}
.gdpr label {
  width: calc(100% - 20px);
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.2em;
  padding: 0 0 0 10px;
}

.form_message {
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  background-color: #ffffff;
  padding: 2.5em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 300;
  transform: translate(-50%, -50%);
}
.form_message .message {
  font-size: 2em;
  text-align: center;
}

.btn {
  width: fit-content;
  height: fit-content;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.3em 1.4em;
  min-width: 125px;
  min-height: 40px;
}
.btn span {
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
}

/*# sourceMappingURL=critical.css.map */
