@import "lib/_media";
@import "lib/_default";
@import "lib/_fonts";
@import "lib/_variables";

@import "blocks/_header";
@import "blocks/_menu";
@import "blocks/_footer";
//@import "blocks/_loader";
@import "blocks/_cookie";

@import "components/_gdpr";
@import "components/_success";
@import "components/_button";