<div class="universalMatrix_elem flex align_start textImage {{ entry.imagePosition.value }}">
    <div class="richText">{{ entry.richTextSimple }}</div>
    <img src="{{ entry.image.one().url('universalTextImage') }}" alt="{{ entry.image.one().title }}" class="image">
</div>