<div class="universalMatrix_elem video">
    <video src="{{ entry.video.one().url() }}"></video>
    <div class="layer flex align_center justify_center absolute top left">
        <div class="arrow"></div>
    </div>
</div>