<div class="copyright flex_column align_start">
    <span>© {{ now|date('Y') }} siteName All rights reserved. </span>
    <span>Created by: <a href="https://takeitsro.sk/" target="_blank">TakeIT s.r.o.</a></span>
</div>