<div class="gdpr flex align_start">
    <input type="checkbox" name="gdpr" required id="gdpr_input">
    <div class="custom_checkbox"></div>
    <label for="gdpr_input">{{ "Súhlasím s odoslaním <a href='{url}' target='_blank'>osobných údajov</a>"|t({ url: craft.entries.section('universal').id(614).one().url })|raw }}</label>
</div>