.gdpr {
  #gdpr_input {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .custom_checkbox {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      transform: scale(0);
      transition: all 0.3s ease;
    }
  }

  #gdpr_input:checked~.custom_checkbox::after {
    transform: scale(1);
  }

  label {
    width: calc(100% - 20px);
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2em;
    padding: 0 0 0 10px;
  }
}